<h1>{{ section.settings.heading }}</h1>
<h2>{{ section.settings.question}}</h2>
<p>{{ section.settings.answer }}</p>

{% schema %}
{
	"name": "customer questions",
	"settings": [{
			"type": "text",
			"label": "Frequently Asked Questions",
			"id": "heading"
		},
		{
			"type": "text",
			"label": "customer questions",
			"id": "question"
		},
		{
			"type": "text",
			"label": "answer for FAQ",
			"id": "answer"
		}
	]
}
{% endschema %}