<h3>section.settings.gallery-title</h3>

{% schema %}
{
	"name": "customer questions",
	"settings": [
        {
			"type": "text",
			"label": "Gallery Title",
			"id": "gallery-title"
		}
    ]
}
{% endschema %}